// Here you can add other styles
@mixin lines-of-text($count) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $count;
}

.card-header {
    .card-icon {
        height: 10em;
        opacity: 0.2;
    }

    .card-heartbeats {
        @extend .chart-wrapper;
        @extend .px-3;
        height: 70px;
    }
}

.card-body {
    @extend .pb-0;
    height: 10em;

    .card-name {
        @extend .mb-0;
        @include lines-of-text(1);
    }

    .card-model {
        @include lines-of-text(1);
    }

    .card-links {
        @extend .mt-2;
    }
}
