// Here you can add other styles
$card-header-color: rgba(255,255,255,.5);

@mixin lines-of-text($count) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $count;
}

.card-header {
    height: 10em;

    .card-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        opacity: 0.2;
    }

    .card-icon-hidden {
        display: none;
    }

    .card-no-contact-text {
        position: absolute;
        top: 1em;
        right: 1em;
        color: $card-header-color;
    }

    .card-heartbeats {
        @extend .chart-wrapper;
        @extend .px-3;
        position: absolute;
        top: 5em;
        left: 0em;
        right: 1em;
        height: 5em;
    }

    .card-heart {
        position: absolute;
        top: 7em;
        right: 0em;
        color: $card-header-color;
    }
}

.card-body {
    @extend .pb-0;
    height: 10em;

    .card-name {
        @extend .mb-0;
        @include lines-of-text(1);
    }

    .card-model {
        @include lines-of-text(1);
    }

    .card-links {
        @extend .mt-3;
    }
}
